<div class="licence">
<span>Licence CC BY-NC-ND</span>
<span>Valérie Roy</span>
<span><img src="media/ensmp-25-alpha.png" /></span>
</div>

# combining datasets

## concatenating **data frames** : *pandas.concat*

   - you can **concatenate** *pandas.Series*
   - you can **concatenate** *pandas.DataFrame*  
     along a given **axis** (rows or columns)
   - it generates a **new** *pandas.DataFrame*
   - that has pieces "glued together"
   - there are many optional **parameters** you can **set**

In [ ]:
import numpy as np
import pandas as pd

### along the **columns axis**

In [ ]:
# preparing data (dc = dataset for concat)
# x123
dc01 = pd.DataFrame(
    [[1.70, 67], [1.67, 59], [1.84, 78],
     [1.86, 90,], [1.56, 45,], [1.57, 63]],
    columns=['height', 'weight'],
    index=['Gabriel', 'Emma', 'Jules',
           'Louise', 'Hugo', 'Nathan'])

In [ ]:
dc02 = pd.DataFrame(
    [['M', 'Lower'], ['F', 'Middle'], ['M', 'Lower'],
     ['F', 'Middle'], ['M', 'Middle'], ['M', 'Lower']],
    columns=['sex', 'income'],
    index=['Gabriel', 'Emma', 'Jules',
           'Louise', 'Hugo', 'Nathan'])

*displayed on next slide...*

   - their **concatenation**

In [ ]:
dc01.head(2)

In [ ]:
dc02.head(2)

In [ ]:
# remember that axis #0 = lines and axis #1 = columns
dc03 = pd.concat([dc01, dc02], axis=1)
dc03.head(2)

### concatenation along the **rows** **axis**

In [ ]:
# preparing data
# x456
dc04 = dc03
dc05 = pd.DataFrame(
    [[1.54, 45, 'F', 'Lower'],
     [1.76, 84, 'F', 'Middle'],
     [1.67, 72, 'F', 'Middle']],
    columns=['height', 'weight', 'sex', 'income'],
    index=['Alice', 'Paul', 'Léna'])

   - their **concatenation**

In [ ]:
print(len(dc04))
dc04.head(2)

In [ ]:
print(len(dc05))
dc05.head(2)

In [ ]:
dc06 = pd.concat([dc04, dc05], axis=0)

print(len(dc06))

In [ ]:
display(dc06.head(1))
display(dc06.tail(1))

### concatenation with duplicate indexes

In [ ]:
# preparing data
# x789
dc07 = pd.DataFrame(
    [[1.54, 45, 'F', 'Lower'], 
     [1.76, 84, 'F', 'Middle'],
     [1.67, 72, 'F', 'Middle']],
    columns=['height', 'weight', 'sex', 'income'],
    index=['Emma', 'Paul', 'Louise'])
dc08 = dc03

- in case of duplicate indexes
- by defaut you will get **several** indexes or columns with the **same name**

In [ ]:
# indexes in first dataset
for name in dc07.index:
    print(name, end=" ")

In [ ]:
# same on second dataset
for name in dc08.index:
    print(name, end=" ")

In [ ]:
set(dc07.index).intersection(dc08.index) # or dc07.index.intersection(dc08.index)

   -  we concatenate in presence of two **duplicated** indexes

In [ ]:
dc09 = pd.concat([dc07, dc08])

# we find two 'Emma' entries 
# in the result's index

dc09.loc['Emma']

   - you can **force a raincheck** about **duplicate indexes**  
     with the *verify_integrity* parameter

In [ ]:
try:
    dc09 = pd.concat([dc07, dc08], verify_integrity=True)
except ValueError as e:
    print(f"OOPS {e}")

   - you can **concatenate** when **axis** are not **aligned**
   - **missing values** are replaced by *numpy.NaN*

In [ ]:
# preparing data
dc10 = pd.DataFrame(
    [[1.70, 67, 'Lower'], [1.67, 59, 'Middle']],
    columns=['height', 'weight', 'income'],
    index=['Paul', 'Louise'])

dc11 = pd.DataFrame(
    [[1.54, 45, 'F'], [1.76, 84, 'F']],
    columns=['height', 'weight', 'sex'],
    index=['Alice', 'Léna'])

In [ ]:
# first dataframe
# has no 'sex' column
dc10.head(2)

In [ ]:
# second dataframe  
# has no 'income' column

dc11.head(2)

In [ ]:
# (we pass **sort=False** 
# to silence a warning)

dc12 = pd.concat([dc10, dc11],
                 axis=0, 
                 sort=False) 
dc12

- **resulting** dataframe contains NaN  
  (not available, not a number, ...)

- **NOTE** that the *pandas.append()*
  function is a **shortcut** to **concat**  
  with a **simplified interface**

## combining datasets with *pandas.merge*

   - the **rows** represent **objects** (like **objects** in a **data base**)
   - you **merge** two **data frames** by **joining** objects

   - two **rows** are **merged** if they have a **matching key**
   - a **key** is defined by **one or several** columns **names**
   - by default **merge** considers **all** columns with the **same name** in the data frames

### **one-by-one** merge

In [ ]:
# preparing data (dm = dataset for merge)
dm01 = pd.DataFrame({'names': ['Gabriel', 'Emma', 'Jules'],
                    'sex': ['M', 'F', 'M']})
dm02 = pd.DataFrame({'names': ['Gabriel', 'Emma', 'Paul'],
                    'incomes': ['Lower', 'Middle', 'Lower']})

   - there is **no duplicate entry** in the **key column**
   - two **rows** are merged when the **key column** matches

In [ ]:
dm01

In [ ]:
dm02

   - datasets have 2 objects in common: ('Gabriel' and 'Emma')
   - 'Jules' (and 'Paul') cannot be joined to another **object**
   - we **merge** objects of the two **data frames** **one-by-one**

In [ ]:
dm03 = pd.merge(dm01, dm02)
dm03

### **one-by-one** merge with multi-column as key
   - when key are not unique 
   - one can use **multi-columns** as key
     to make them unique

In [ ]:
# preparing data
dm03 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Emma'],
                    'incomes': ['Lower', 'Upper', 'Lower'],
                    'height': [1.87, 1.67, 1.64]})

dm04 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Emma'], 
                    'sex': ['M', 'M', 'F'],
                    'incomes': ['Lower', 'Middle', 'Lower'],})

In [ ]:
dm03

In [ ]:
dm04

- there are 2 common columns
- think of the key as  
  (name⋅income)
- here again we have  
  2 common objects
- and 2 objects to discard
- because  
 (Jules⋅Upper) != (Jules⋅Middle)

In [ ]:
pd.merge(dm03, dm04)

### **many-to-one** merge

In [ ]:
# preparing data
dm05 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Emma'], 
                    'sex': ['M', 'M', 'F'],
                    'height': [1.87, 1.67, 1.84]})

dm06 = pd.DataFrame({'names': ['Gabriel', 'Emma', 'Jules'],
                    'incomes': ['Lower', 'Middle', 'Lower'],})

   - one of the two **key columns** contains **duplicate values**
   - a **one-to-one** strategy for each duplicated row is **applied**

In [ ]:
dm05

In [ ]:
dm06

every 'Jules' of the first 
dataframe is merged with 
the 'Jules' of the second data frame

In [ ]:
pd.merge(dm05, dm06)

   - another example

In [ ]:
# preparing data
dm07 = pd.DataFrame({'names': ['Gabriel', 'Emma', 'Jules'],
                    'incomes': ['L', 'M', 'L']})
dm08 = pd.DataFrame({'incomes': ['L', 'M', 'U'],
                    'explanation': ['Lower', 'Middle', 'Upper']})

In [ ]:
dm07

In [ ]:
dm08

In [ ]:
pd.merge(dm07, dm08)

### **many-to-many** merge

   - both **key columns** contain duplicates **entries**
   - a **cartesian product** is used

In [ ]:
#preparing data
dm09 = pd.DataFrame(
    {'names': ['Gabriel', 'Jules', 'Jules'],   # two "Jules"
     'height': [1.87, 1.67, 1.84]})
dm10 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Jules'],   # two 'Jules'
                    'incomes': ['Lower', 'Middle', 'Lower']})

In [ ]:
dm09

In [ ]:
dm10

In [ ]:
pd.merge(dm09, dm10) # four 'Jules"

### controling **keys**

   - you can **specify** the **key columns** with the parameter *on='names'*
   - you can **link** columns with different **names** (parameters *left_on='names', right_on='identity')*

In [ ]:
# preparing data
dm11 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Emma'],
                    'incomes': ['Lower', 'Upper', 'Lower'],
                    'height': [1.87, 1.67, 1.64]})

dm12 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Emma'], 
                    'sex': ['M', 'M', 'F'],
                    'incomes': ['Lower', 'Middle', 'Lower'],})

In [ ]:
dm11

In [ ]:
dm12

In [ ]:
# incomes is no longer involved in the merging

pd.merge(dm11, dm12, on=['names'])

**a last example**

In [ ]:
# preparing data
dm13 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Emma'],
                    'incomes': ['Lower', 'Middle', 'Lower'],
                    'height': [1.87, 1.67, 1.64]})

dm14 = pd.DataFrame({'identity': ['Gabriel', 'Jules', 'Emma'], 
                    'sex': ['M', 'M', 'F'],
                    'incomes': ['Lower', 'Middle', 'Lower'],})

   - columns **excluded** from the **key** are **renamed**

In [ ]:
dm13

In [ ]:
dm14

In [ ]:
# 'incomes' is excluded => incomes will be renamed
pd.merge(dm13, dm14, left_on='names', right_on='identity')

**NOTES**

- merge does not preserve the **index**
- **join()** is a shortcut to **merge()**