## VII) combining datasets

### 1) concatenation of `data frames` with the function $\texttt{pandas.concat}$

   - you can `concatenate` $\texttt{pandas.Series}$
   - you can `concatenate` $\texttt{pandas.DataFrame}$ along an `axis` (rows or columns)
   
   
   - it generates a `new` $\texttt{pandas.DataFrame}$
   
   
   
   - there are many optional `parameters` you can `set`

#### a) concatenation along the `columns axis`

   - the first `data frame`

In [ ]:
df1 = pd.DataFrame([[1.70, 67], [1.67, 59], [1.84, 78],
                    [1.86, 90,], [1.56, 45,], [1.57, 63]],
                  columns=['height', 'weight'],
                  index=['Gabriel', 'Emma', 'Jules', 'Louise', 'Hugo', 'Nathan'])
df1.head(2)

   - the second `data frame`

In [ ]:
df2 = pd.DataFrame([['M', 'Lower'], ['F', 'Middle'], ['M', 'Lower'],
                   ['F', 'Middle'], ['M', 'Middle'], ['M', 'Lower']],
                  columns=['sex', 'income'],
                  index=['Gabriel', 'Emma', 'Jules', 'Louise', 'Hugo', 'Nathan'])
df2.head(2)

   - their `concatenation`

In [ ]:
df3 = pd.concat([df1, df2], axis=1)
df3.tail(2)

#### b) concatenation along the `rows` `axis`

   - the first `data frame` is `df3`

   - the second `data frame`

In [ ]:
df4 = pd.DataFrame([[1.54, 45, 'F', 'Lower'], [1.76, 84, 'F', 'Middle'], [1.67, 72, 'F', 'Middle']],
                  columns=['height', 'weight', 'sex', 'income'],
                  index=['Alice', 'Paul', 'Léna'])
df4.head(2)

   - their `concatenation`

In [ ]:
df5 = pd.concat([df3, df4], axis=0)
df5.tail(4)

#### c) concatenation in presence of duplicate indexes

   - by defaut you will get `several` indexes or columns with the `same name`

   - the first dataset

In [ ]:
df3.index

   - the second dataset

In [ ]:
df6 = pd.DataFrame([[1.54, 45, 'F', 'Lower'], [1.76, 84, 'F', 'Middle'], [1.67, 72, 'F', 'Middle']],
                  columns=['height', 'weight', 'sex', 'income'],
                  index=['Emma', 'Paul', 'Louise'])
df6.index

In [ ]:
set(df3.index).intersection(df6.index) # or df3.index.intersection(df6.index)

   -  we concatenate in presence of two `duplicated` indexes

In [ ]:
df7 = pd.concat([df3, df6], sort=False)
df7.loc['Emma']

    - you get two 'Emma' entries in your index

   - you can `force` `duplicate` indexes check with the $\texttt{verify_integrity}$ parameter

In [ ]:
try:
    df7 = pd.concat([df3, df6], verify_integrity=True)
except ValueError as e:
    print(e)

   - you can `concatenate` when `axis` are not `aligned`
   - `missing values` are replaced by $\texttt{numpy.NaN}$

   - the first `data frame` does not contain the `sex` column

In [ ]:
df9 = pd.DataFrame([[1.70, 67, 'Lower'], [1.67, 59, 'Middle']],
                  columns=['height', 'weight', 'income'],
                  index=['Paul', 'Louise'])
df9.head(2)

   - the second `data frame` does not have the `income` column

In [ ]:
df10 = pd.DataFrame([[1.54, 45, 'F'], [1.76, 84, 'F']],
                  columns=['height', 'weight', 'sex'],
                  index=['Alice', 'Léna'])
df10.head(2)

In [ ]:
df11 = pd.concat([df9, df10], axis=0, sort=False) # (we passe `sort=False` to silence a warning)
df11

   - the `resulting` dataframe contains NaN (not available, not a number, ...)

   - the $\texttt{pandas.append}$ fuction is a `shortcut` to `concat` with a `simplified interface`

### 3) combining datasets with $\texttt{pandas.merge}$

   - the `rows` represent `objects` (like `objects` in a `data base`)
   - you `merge` two `data frames` by `joining` objects

   - two `rows` are `merged` if they have a `matching key`
   - a `key` is defined by `one or several` columns `names`
   - by default `merge` considers `all` columns with the `same name` in the data frames

#### a) `one-by-one` merge

   - there is `no duplicate entry` in the `key columns`
   - two `rows` are merged when the `key column` matches

   - the first `data frame`

In [ ]:
df1 = pd.DataFrame({'names': ['Gabriel', 'Emma', 'Jules'],
                    'sex': ['M', 'F', 'M']})
df1

   - the second `data frame`

In [ ]:
df2 = pd.DataFrame({'names': ['Gabriel', 'Emma', 'Paul'],
                    'incomes': ['Lower', 'Middle', 'Lower']})
df2

   - the two `data frames` describe two same `objects`: 'Gabriel' and 'Emma'
   - 'Jules' cannot be joined to another `object`
   - you `merge` objects of the two `data frames` `one-by-one`

In [ ]:
df3 = pd.merge(df1, df2)
df3

   - when key are not unique

   - `key` can be `multi-columns`

In [ ]:
df1 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Emma'],
                    'incomes': ['Lower', 'Upper', 'Lower'],
                    'height': [1.87, 1.67, 1.64]})

df2 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Emma'], 
                    'sex': ['M', 'M', 'F'],
                    'incomes': ['Lower', 'Middle', 'Lower'],})

In [ ]:
pd.merge(df1, df2) # merge on 'names' and 'incomes'
                   # 'Jules' is not the same object, incomes are diffent

#### b) `many-to-one` merge

   - one of the two `key columns` contains `duplicate values`
   - a `one-to-one` strategy for each duplicated row is `applied`

In [ ]:
df4 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Emma'], 
                    'sex': ['M', 'M', 'F'],
                    'height': [1.87, 1.67, 1.84]})

In [ ]:
df5 = pd.DataFrame({'names': ['Gabriel', 'Emma', 'Jules'],
                    'incomes': ['Lower', 'Middle', 'Lower'],})

In [ ]:
pd.merge(df4, df5) # every 'Jules' of the first data frame is merged with the 'Jules' of the second data frame

   - another example

In [ ]:
df3 = pd.DataFrame({'names': ['Gabriel', 'Emma', 'Jules'],
                    'incomes': ['L', 'M', 'L']})
df3

In [ ]:
df4 = pd.DataFrame({'incomes': ['L', 'M', 'U'],
                    'explanation': ['Lower', 'Middle', 'Upper']})
df4

In [ ]:
pd.merge(df3, df4)

#### c) `many-to-many` merge

   - both `key columns` contain duplicates `entries`
   - a `cartesian product` is used

In [ ]:
df5 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Jules'],   # two "Jules"
                    'height': [1.87, 1.67, 1.84]})
df5

In [ ]:
df6 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Jules'],   # two 'Jules'
                    'incomes': ['Lower', 'Middle', 'Lower']})

In [ ]:
pd.merge(df5, df6) # four 'Jules"

#### d) controling `keys`

   - you can `specify` the `key columns` with the parameter $\texttt{on='names'}$
   
   
   - you can `link` columns with different `names` (parameters $\texttt{left_on='names', right_on='identity')}$

In [ ]:
df1 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Emma'],
                    'incomes': ['Lower', 'Upper', 'Lower'],
                    'height': [1.87, 1.67, 1.64]})

df2 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Emma'], 
                    'sex': ['M', 'M', 'F'],
                    'incomes': ['Lower', 'Middle', 'Lower'],})

In [ ]:
pd.merge(df1, df2, on=['names']) # incomes is no more involved in the merging

In [ ]:
df1 = pd.DataFrame({'names': ['Gabriel', 'Jules', 'Emma'],
                    'incomes': ['Lower', 'Middle', 'Lower'],
                    'height': [1.87, 1.67, 1.64]})

df2 = pd.DataFrame({'identity': ['Gabriel', 'Jules', 'Emma'], 
                    'sex': ['M', 'M', 'F'],
                    'incomes': ['Lower', 'Middle', 'Lower'],})

   - columns `excluded` from the `key` are `renamed`

In [ ]:
pd.merge(df1, df2, left_on='names', right_on='identity')   # 'incomes' is excluded => incomes will be renamed

   - merge does not preserve the `index`

   - `join` is a shortcut to `merge`